.box-section {
    margin: 30px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    overflow: auto;
}

/* Make buttons float right in box sections */
.box-section .box-buttons {
    float: right;
}

.box-section .box-title {
    float: left;
}